<body>
<h2>Add Players</h2>
<div>
  You can add Your Favorite Players here:
  <select>
      <option class="placeholder" selected disabled value="">select player</option>
      <option value="rohithsharma">Rohit sharma</option>
      <option value="kohli">Virat Kohli</option>
      <option value="dhoni">MS Dhoni</option>
      <option value="hardik">Hardik Pandya</option>
      <option value="rahul">KL Rahul</option>
      <option value="bumrah">Jasprit Bumrah</option>
    </select>
</div>
</body>


